---
// src/pages/brutalist.astro
import Content from '@/components/Content.astro';
---

<html lang="en" class="brutalist">
  <head>
    <meta charset="UTF-8" />
    <title>Fasad - Brutalist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <a href="/" class="btn">Switch to Polished</a>
    <Content />
  </body>
</html>
