---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
import Content from "@/components/Content.astro";
---

<BaseLayout
  title="Fasad"
  description="A polished Astro site built with Shadcn UI."
>
  <section class="container grid items-center gap-6 pt-6 pb-8 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-4">
      <a href="/brutalist" class={buttonVariants({})}>
        Switch to Brutalist
      </a>
      <Content variant="polished" />
    </div>
  </section>
</BaseLayout>
